/* Center the login form container vertically */
html, body {
  height: 90%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  padding: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

/* Style the form title */
h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Style the form group labels */
label {
  font-weight: bold;
}

/* Add some space between the form groups */
.form-group {
  margin-bottom: 1.5rem;
}

/* Style the form input fields */
.form-control {
  border-radius: 0.25rem;
  padding: 0.75rem;
  border: 1px solid #ced4da;
}

/* Style the submit button */
.btn-primary {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

/* Add a hover effect to the submit button */
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
